{% extends 'index.html' %}
{% load static %}
<title>{{ profile.user.username }}</title>

{% block content %}
<h1>{{ profile.user.username }}</h1>
<main id="profile-container">
    <!-- CARD -->
    <article class="profile-card__detail">
        <div class="profile-card__overlay">
            <header class="profile-header__detail">
                <h2>{{profile.user.first_name|lower|capfirst}} {{profile.user.last_name|lower|capfirst}}</h2>
                <p>Email: {{ profile.user.email }}</p>
                <p>Favorite city: {{ profile.favorite_city }}</p>
            </header>
        </div>
    </article>
</main>
{% endblock content %}