{% load static %}

<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />

    <!-- Customize css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <title>Holiday Homes</title>
</head>

<body class="index-body">
    <header>
        <nav class="nav-container index-nav-container">
            <img class="logo" src="{% static 'img/logo.svg' %}" alt="logo's company" />
            <h1>Holiday Homes</h1>
            <ul class="nav-item">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'profiles:index' %}">Profiles</a></li>
                <li><a href="{% url 'lettings:index' %}">Lettings</a></li>
                <li>Contact us</li>
                <img class="menu-icon" src="{% static 'img/home/menu.png' %}" alt="profile's image">
            </ul>
        </nav>
    </header>

    {% block content %}
    {% endblock %}
</body>

</html>