<title>Lettings</title>

{% extends 'index.html' %}
{% load static %}
{% block content %}

<main id="article_container">
    <h1>Lettings</h1>
    {% if lettings_list %}
    {% for letting in lettings_list %}
    <!-- CARD -->
    <article class="card">
        <header class="card-header">
        </header>
        <section class="card-content">
            <h2>{{letting.title}}</h2>
        </section>
        <button type="button" class="card-button">
            <a href="{% url 'lettings:letting' letting_id=letting.id %}">Detail
            </a>
        </button>
    </article>
    {% endfor %}
    {% else %}
    <p>No lettings are available.</p>
    {% endif %}
</main>
{% endblock content %}